.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    margin-bottom: 40px;
}
